
# Firebase
VITE_FIREBASE_PROJECT_ID=gomor-e-commerce
VITE_FIREBASE_AUTH_DOMAIN=https://your-firebase-auth-domain
VITE_FIREBASE_API_KEY=test-api-key

# PayPal
VITE_PAYPAL_CLIENT_ID=your-paypal-client-id
