PORT=8080

# MongoDB
MONGO_DB_URI=localhost:27017
MONGO_DB_USERNAME=root
MONGO_DB_PASSWORD=password
MONGO_DB_NAME=gomor-e-commerce

# Firebase
FIREBASE_PROJECT_ID=gomor-e-commerce
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099

# PayPal
PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_CLIENT_SECRET=your-paypal-client-secret
PAYPAL_MODE=sandbox
